<div class="body body-img" id="">
    <div id="create">
        <h1>Thêm Khóa học</h1>
        <form class="add-course-form" method="POST" action="/course/store">
            <div class="form-group">
                <label for="name">Tên khoá học</label>
                <input type="text"  class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="name">Tên tác giả</label>
                <input type="text"  class="form-control" name="author">
            </div>
            <div class="form-group">
                <label for="description">Mô tả khóa học</label>
                <textarea type="form-control"  class="form-control" id="description" name="description"> </textarea>     
            </div>
            
            <div class="form-group">
                <label for="image">Hình ảnh khóa học</label>
                <input type="file" name="image" class="filepond"/>
            </div>
            <div class="add-lesson-info">
            </div>
            <button class="btn btn-primary add-lesson-btn" id="add-lesson-btn">Add Lesson</button>    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


<style>
    #create{
        margin: 0 7% 0 ;
        
    }
    #create input{
        font-size: 15px;
    }
</style>

<script>
  
  document.addEventListener('DOMContentLoaded',function(){
     // var addCourseFrom = document.forms['add-course-form'];
      var addLessonFrom = $('.add-lesson-info')
      var addLessonBtn = document.getElementById('add-lesson-btn')
      var lessonid = 1;
      var inputvalue 
      

      addLessonBtn.onclick = function (e){
        e.preventDefault();
        //console.log(addLessonFrom);
        if(lessonid === 1 || $(inputvalue).val() !== ''){
            var display = '<div class="card"><div class="card-body">'
            display += '<p >Tên bài học '+lessonid+'</p>'
            display += '<input type="text"  class="form-control" id="lesson'+lessonid+'" name="lesson">'
            display += '<p >Link video</p>'
            display += '<input type="text"  class="form-control" id="'+lessonid+'" name="lessonVideo">'
            display += '<p >Mô tả</p>'
            display += '<textarea type="text"  class="form-control" id="'+lessonid+'" name="lessonDescription"></textarea></div></div>'
            $(addLessonFrom).append(display);
            inputvalue = document.getElementById('lesson'+(lessonid)+'')
            lessonid++;
        }else{
            alert('Chưa thêm giá trị vào trường tên môn học '+(lessonid-1))
        }
      }

  });

</script>