<div class="body body-img" id="">
    <div id="edit">
    <h1>Sửa khóa học</h1>
    <form method="POST" action="/course/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khoá học</label>
            <input type="text"  class="form-control" id="name" name="name" value="{{course.name}}">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="form-control"  class="form-control" id="description" value="{{course.description}}" name="description">       
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh khóa học</label>
            <input type="file" name="image" class="filepond"/>
        </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
<style>
  #edit{
    margin: 2rem 7% 0;
  }
</style>