<div class="mt-4">
    <h1>Sửa thông tin món ăn</h1>

    <form method="POST" action="/menu/{{dish._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên món ăn</label>
            <input type="text"  class="form-control" value="{{dish.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="type_dish">Loại món ăn</label>
            <input type="text"  class="form-control" value="{{dish.type_dish}}" id="type_dish" name="type_dish">
        </div>
        <div class="form-group">
            <label for="price">Giá cả</label>
            <input type="number"  class="form-control" value="{{dish.price}}" id="price" name="price">       
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh món ăn</label>
            <input type="file" class="filepond" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

