<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h2>About us</h2>
            <a href="#">Blog</a>
            <a href="#">Demo</a>
            <a href="#">Feedback</a>
            <a href="#">Location</a>
        </div>
        <div class="footer-heading footer-2">
            <h2>Social Media</h2>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Youtube</a>
            <a href="#">Email</a>
            <a href="#">Zalo</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Donate</h2>
            <a href="#">MoMo</a>
            <a href="#">Vietinbank</a>
            <a href="#">Sacombank</a>
        </div>
    </div>
    <div class="liensce">©2021 Developed by NewbieL02 Team</div>
</div>