<header>
    <div class="logonav">
        <a href="/" class="logo">
         <i class="fa fa-laptop-code">
         </i>
         Learning Forever
         {{!-- <img src="./logo.png" alt=""> --}}
         </a>
    </div>
    <div class="searchWrapper">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div>
        <nav class="navbar">
            <a class="active" href="/">home</a>
            <a href="/course">course</a>
            <a href="/feedback">feedback</a>
            <a href="#footer-container">about us</a>
        </nav>
    </div>
    {{#if (isMatch user.permission 'Manager')}}
    <div class="icon dropdown ">
    <button class="btn-user btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="/image/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        {{user.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/manager/courses-management">Quản lý khóa học</a>
        <a class="dropdown-item" href="/manager/create">Thêm khóa học</a>
        <a class="dropdown-item" href="/">Student Feedback</a>
        <a class="dropdown-item" href="/user/logout">Log out</a>
    </div>
    {{/if}}
    {{#if (isMatch user.permission 'Student')}}
    <div class="icon dropdown ">
    <button class="btn-user btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="/image/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        {{user.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/user">User info</a>
        <a class="dropdown-item" href="/user/registered-course">Khóa học đã đăng ký</a>
        <a class="dropdown-item" href="/user/logout">Log out</a>
    </div>
    {{/if}}
    {{#unless user}}
    <div class="icon">
        <a href="/loginpage" class="button log-btn">Login</a>
        <a href="/register" class="button log-btn">Sign up</a>
    </div>
    {{/unless}}
    
</header>
<style>
    .log-btn{
        margin: 0 .4rem;
    }
    .searchTerm{
       margin-right: .4rem;
    }
    header{
        background: url(/image/header.jpg) top center / cover no-repeat !important;  
    }
    .dropdown-menu{
        width: 100%;
        font-size: 1.5rem;
    }
    .btn-user{
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: .8rem 3rem;
    }
    .btn-user:hover{
    background-color: var(--green);
    }
    .dropdown-item:hover{
        text-decoration: underline;
    }
</style>