<header>
    <div class="logonav">
        <a href="#" class="logo"> <i class="fa fa-laptop-code"></i></i>Learn Forever</a>
    </div>
    <div class="searchWrapper">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div>
        <nav class="navbar">
            <a class="active" href="#">home</a>
            <a href="#">course</a>
            <a href="#">about us</a>
            <a href="#">feedback</a>
        </nav>
    </div>
    <div class="icon">
        <a href="#" class="button">Sign up</a>
    </div>
</header>