<style>
    .list-feedback{
        font-size: large;
        border: 1px solid sandybrown;
        margin-bottom: 5px;
    }
    .list-feedback-item{
        padding: 10px;
    }
    .list-feedback-item p{



    }
    .infor{
        display: flex;
        flex-direction: row;
    }

</style>
<h1>List FeedBack: </h1>
{{#each data}}
<div class="list-feedback" style="width: 600px;">
    <div class="list-feedback-item">
        <div class="infor">
        <img src="https://gamek.mediacdn.vn/133514250583805952/2020/10/17/hermione-granger-4-1602909310503321900790.jpg" width="40px" height="40px">
        <p>{{this.User_id.name}}</p>
        </div>
    </div>

        </hr>
        <div style="padding: 10px; border: solid gray 1px;">
          
        {{this.comment}}
        </br>
      <span style="font-size: xx-small;"> {{this.createdAt}}</span>
    </div>
</div>
{{/each}}

{{#if (isMatch user.permission 'Student' )}}
<form action="/feedback" method="post">
    {{#if user}}
    <input type="hidden" value="{{user._id}}" name="id">
    {{/if}}

    Your Feedback:<br>
    <textarea name="comment" rows="10" cols="120">
</textarea>
    <input type="submit" value="Submit">
</form>


{{/if}}
<a href="/">Go back home</a>