<div class="mt-4">
    <h1>Gợi ý cho bạn</h1>
    <div class="row" >
        {{#each dishes}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="{{imageload this.image this.imageType}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p><b>Loại món:</b>{{this.type_dish}}<p>
                    <p><b>Đánh giá:</b> ⭐ ⭐ ⭐ ✰ ✰ <p>
                    <p><b>Giá tiền:</b>{{this.price}} VNĐ<p>
                    <a href="#" class="btn btn-primary">Mua</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>