{{!--  --}}
<div id="log-img">
    
    <div id="sign-page">
        {{#if massage}}
            <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <form method="POST" action="/user/register">
        <div class="form-group">
            <label for="Email1">Địa chỉ Email</label>
            <input style="font-size: 1.5rem; text-transform: none !important;" type="email" name="email" value="{{resinfo.email}}" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email" >
        </div>

        <div class="form-group">
            <label for="Password">Mật khẩu</label>
            <input style="font-size: 1.5rem;"  type="password" name="password" class="form-control" id="Password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="confirm-password">Xác nhận Mật khẩu</label>
            <input style="font-size: 1.5rem;" type="password" name="cfpassword" class="form-control" id="confirm-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="name">Họ và Tên </label>
            <input style="font-size: 1.5rem;" type="text" name="name" value="{{resinfo.name}}" class="form-control" placeholder="Nhập tên" >
        </div>
        <div class="form-group">
            <label for="gender-input">Giới tính</label>
            <select  name="gender" class="form-control" id="gender-input">
                <option  value="">--chọn giới tính--</option>
                <option style="font-size: 1.5rem;" value="male">Nam</option>
                <option style="font-size: 1.5rem;" value="female">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address">Địa Chỉ</label>
            <input style="font-size: 1.5rem;" type="text" name="address" class="form-control" placeholder="Nhập địa chỉ" value="{{resinfo.address}}">
        </div>
        <button style="font-size: 1.5rem; width: 100%;" type="submit" class="btn btn-primary " style="text-align: center;width: 100%;">Submit</button>
    </form>
    </div>
</div>
<style>
#sign-page{
    padding: 16px 24px; 
    width: 75rem; 
    margin: 9rem auto auto auto; 
    border: 4px solid rgba(123, 213, 231, 0.3); 
    border-radius: 8px;
    font-size: 1.5rem;
}
#log-img{
   background: url(/image/home-bg.jpg) top center / cover no-repeat !important;
    height: 54rem;
}

</style>