<div class="body" id="log-img" style="margin-top: 6.55rem; padding-top: 3rem;">
    <div id="signin-page">
        {{#if massage}}
            <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <form method="post" class="form" id="form-1" action="/user/login" >
        <div class="form-group">
            <label for="exampleInputEmail1">Địa chỉ Email</label>
            <input style="font-size: 1.5rem;text-transform: none !important;" type="email" class="form-control" id="email"  name="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{name}}" required>
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input style="font-size: 1.5rem;text-transform: none !important;" id="password" type="password" class="form-control" name="password" placeholder="Enter Password" required>
            <span class="form-message"></span>
        </div>
        <a href="/forgotpassword" class='desc'>Quên mật khẩu?</a>
        <button style="font-size: 1.5rem; width: 100%;" type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
    </div>
    
</div>
<style>
#forgot{
    float: right;
}
#signin-page{  
    padding: 16px 24px; 
    width: 500px; 
    margin: auto; 
    margin-top: 50px;
    border: 4px solid rgba(123, 213, 231, 0.3); 
    border-radius: 8px;
    font-size: 1.5rem;
}
#log-img{
   background: url(/image/home-bg.jpg) top center / cover no-repeat !important;
    height: 54rem;
}
.form-check-label{
    padding-left: 1rem !important;
}
.btn-primary:hover{
    color: #000;
}
</style>
<script>

      document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
          form: '#form-1',
          formGroupSelector: '.form-group',
          errorSelector: '.form-message',
          rules: [
            Validator.isRequired('#email', 'Bạn chưa nhập địa chỉ email'),
            Validator.isEmail('#email'),
            Validator.isRequired('#password', 'Bạn chưa nhập mật khẩu'),
          ],
        });
      });

</script>