<link type="text/css" rel="stylesheet" href="/css/feedback.css" />


<section class="feedback body-img">

    <div class="feedback-container">
        <h1 style="margin-bottom: 15px;">Các khóa học đã đăng ký</h1>
        <!--https://www.niemvuilaptrinh.com/-->
        
            <div style="display: flex; box-sizing: inherit; height: 280px; margon-top:15px;">
            <div class="row">  
            {{#each courses}}
                <div class="col-sm-4">
                <a href="/course/{{this.slug}}" class="list-courses" style="margin-right: 3rem; ">
                    <div class="course-img" style="border-radius: 1rem">
                        <img src="{{imageload this.image this.imageType}}" width="320px" height="200px" style="border-radius: 1rem">
                    </div>
                    <div class="course-name" style="font-size: 2.5rem; margin-top: 1rem;">   
                        {{this.name}}
                    </div> 
                </a>
                </div>  
            {{/each}}
        </div>
        </div>
        
        <div style="margin-top: 30rem; margin-bottom: 0;">{{{paging count page 6}}}</div>

    </div>
</section>






