<div class="courses-registered body-img">
    <h1>Các khóa học đã đăng ký</h1>
    <div>
        {{#each courses}}
            <div>
                {{this.name}}
            </div>
        {{/each}}
    </div>
</div>
<style>
    .courses-registered{
        padding: 2rem 9% 0 9%;
    }
</style>