<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h1>Các khóa học đã đăng ký</h1>
<div>
    {{#each courses}}
        <div>
            {{#each this.courses}}
                <h1>this.name</h1>
                <h1>this.description</h1>
            {{/each}}
        <div>
    {{/each}}
</div>