{{!--  --}}
<div id="log-img">  
    <div id="sign-page">
        {{#if massage}}
            <div class="alert alert-danger" role="alert">{{massage}}</div>
        {{/if}}
        <h1>Lấy Lại mật khẩu cho {{this.email}}</h1>
        <form method="POST" class="form" id="form-1" action="/user/updatepassword/{{id}}/{{token}}?_method=PUT">
        <div class="form-group">
            <label for="Password">Mật khẩu</label>
            <input style="font-size: 1.5rem;"  type="password" id="password" name="password" class="form-control" id="Password" placeholder="Password">
            <span class="form-message"></span>
        </div>

        <div class="form-group">
            <label for="confirm-password">Xác nhận Mật khẩu</label>
            <input style="font-size: 1.5rem;" type="password" id="confirm-password" name = "cfpassword" class="form-control" id="confirm-password" placeholder="Password">
            <span class="form-message"></span>
        </div>
        <button style="font-size: 1.5rem; width: 100%;" type="submit" class="btn btn-primary " style="text-align: center;width: 100%;">Submit</button>
    </form>
    </div>
</div>
<style>
#sign-page{
    padding: 16px 24px; 
    width: 75rem; 
    margin: 9rem auto auto auto; 
    border: 4px solid rgba(123, 213, 231, 0.3); 
    border-radius: 8px;
    font-size: 1.5rem;
}
#log-img{
   background: url(/image/home-bg.jpg) top center / cover no-repeat !important;
    height: 54rem;
}

</style>
<script>

      document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
          form: '#form-1',
          formGroupSelector: '.form-group',
          errorSelector: '.form-message',
          rules: [
            Validator.minLength('#password', 6),
            Validator.isRequired('#confirm-password'),
            Validator.isConfirmed('#confirm-password', function () {
              return document.querySelector('#form-1 #password').value;
            }, 'Mật khẩu nhập lại không chính xác')
          ],
        });
      });

</script>