<head><link type="text/css" rel="stylesheet" href="/css/user_infor.css" /></head>

<div class="head">
    <h1>Xin chào! bạn là thành viên của Learn forever</h1>
</div>
<div>
    <h2 class="title">Cập nhật thông tin cá nhân</h2>
</div>
<form class="update" action="/user/update_info?_method=PUT" method="POST" >
    <ul class="profile">
        <li class="col email">
            <i class="fas fa-envelope"></i>
            <span class="row">Email</span>
            <div><input type="email" class="email-change" value="{{user.email}}" name="email"></div>
        </li>
        <li class="col name">
            <i class="fas fa-user-alt"></i>
            <span class="row">Họ và tên</span>
            <div><input type="text" class="name-change" value="{{user.name}}" name="name"></div>
        </li>
        <li class="col sex">
            <i class="fas fa-male"></i>
            <i class="fas fa-female"></i>
            <span class="row">Giới tính</span>
            <div class="check-button">
                {{#if (isMatch user.gender 'male')}}
                    <input type="radio" value="male" name="gender" class="option" checked="checked">Nam
                    <input type="radio" value="female" name="gender" class="option">Nữ
                {{else}}
                    <input type="radio" value="male" name="gender" class="option">Nam
                    <input type="radio" value="female" name="gender" class="option" checked="checked">Nữ
                {{/if}}
            </div>
        </li>
        <li class="col address">
            <i class="fas fa-map-marker-alt"></i>
            <span class="row">Địa chỉ</span>
            <div><input type="text" class="address-change" value="{{user.address}}" name="address"></div>
        </li>   
    </ul>
    <div class="col">
        <input type="submit" class="form-submit" value="Cập nhật">
    </div>
</form>
