<head><link type="text/css" rel="stylesheet" href="/css/user_infor.css" /></head>

<div class="head">
    <h1>Xin chào! bạn là thành viên của Learn forever</h1>
</div>
<ul class="profile">
    <li class="col email">
        <i class="fas fa-envelope"></i>
        <span class="row">Email</span>
        <div class="email-content">{{user.email}}</div>
    </li>
    <li class="col name">
        <i class="fas fa-user-alt"></i>
        <span class="row">Họ và tên</span>
        <div class="name-content">{{user.name}}</div>
    </li>
    <li class="col sex">
        <i class="fas fa-male"></i>
        <i class="fas fa-female"></i>
        <span class="row">Giới tính</span>
        {{#if (isMatch user.gender 'male') }}
            <div class="sex-content">Nam</div>
        {{else}}
            <div class="sex-content">Nữ</div>
        {{/if}}
        
    </li>
    <li class="col address">
        <i class="fas fa-map-marker-alt"></i>
        <span class="row">Địa chỉ</span>
        <div class="address-content">{{user.address}}</div>
    </li>
    <li>
        <a href="user/update_info" class="link-update">Cập nhật thông tin cá nhân</a>
    </li>
</ul>
